SELECT TABLE_CATALOG + '.' + TABLE_SCHEMA + '.' + TABLE_NAME AS full_table_id, COLUMN_NAME AS column_name, DATA_TYPE AS column_type FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_CATALOG + '.' + TABLE_SCHEMA + '.' + TABLE_NAME IN ({{ tables }}) ORDER BY TABLE_SCHEMA, TABLE_NAME, ORDINAL_POSITION