SELECT TABLE_CATALOG AS database_name, TABLE_SCHEMA AS schema_name, TABLE_NAME AS table_name, LOWER(CASE WHEN TABLE_TYPE = 'VIEW' THEN 'view' ELSE 'table' END) AS table_type FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA IN ({{ schemas }}){% if table_names is defined and table_names %} AND TABLE_NAME IN ({{ table_names }}){% endif %} ORDER BY TABLE_SCHEMA, TABLE_NAME OFFSET {{ offset }} ROWS FETCH NEXT {{ limit }} ROWS ONLY