{
  "connect_args": {
    "api_key": "<datadog-api-key>",
    "application_key": "<datadog-application-key>",
    "site": "datadoghq.com",
    "log_query_template": "@mcd.resource_id:\"{resource_id}\"",
    "metric_queries": {
      "ecs.task.memory.utilization": "avg:ecs.fargate.mem.usage{task_arn:{resource_id}}",
      "ecs.task.cpu.utilization": "avg:ecs.fargate.cpu.percent{task_arn:{resource_id}}"
    }
  }
}
